body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 35px;
}
span{
    color: orange;
}
section{
    display: flex;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
    text-align: justify;
}
.half-width img{
    width: 75%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(248, 184, 65),tomato);
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}