body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 35px;
}
span{
    color: orange;
}
.flexble-section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    text-align: justify;
}
.half-width img{
    width: 75%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(248, 184, 65),tomato);
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
/* section dream-big */
.dream-big{
     background-image: url(img/dream-bg.png);
     background-repeat: no-repeat;
     background-position: right;
}
.experiences{
     background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiences p{
    text-align: justify;
}
.center{
    text-align: center;
}
.box{
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
}
#box-1{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(190, 84, 66),rgb(250, 58, 0));
    border-image-slice: 1;
}
#box-2{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}